<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="estanteDeLivros.css">
    <title>Okapi Blog</title>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <ul class="containerLista">
            <li class="containerLivro"><img class="capaLivro" src="https://m.media-amazon.com/images/I/41qs24vpygL.jpg" alt=""></li>
            <li class="containerLivro"><img class="capaLivro" src="https://images-na.ssl-images-amazon.com/images/I/81XTXQEVPlL.jpg" alt=""></li>
            <li class="containerLivro"><img class="capaLivro" src="https://images-na.ssl-images-amazon.com/images/I/515rjH7yikL._SX342_SY445_QL70_ML2_.jpg" alt=""></li>
            <li class="containerLivro"><img class="capaLivro" src="https://images-na.ssl-images-amazon.com/images/I/51VKbEh8uSL._SX356_BO1,204,203,200_.jpg" alt=""></li>
            <li class="containerLivro"><img class="capaLivro" src="https://images-na.ssl-images-amazon.com/images/I/71QtOUBMtNL.jpg" alt=""></li>
            <li class="containerLivro"><img class="capaLivro" src="https://m.media-amazon.com/images/I/51w53T12s8L.jpg" alt=""></li>
        </ul>
    </main>
</body>
</html>