<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="maisLidos.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <div class="container-home">
        <main class="container-main">
            <ul class="container-lista-de-artigos">
                <li class="item-Artigo">
                    <article class="artigo-home">
                         <h2>Criatividade S.A</h2>
                         <h3>Descricao Resumo da Obra</h3>
                         <time>06/12/2009</time>
                         <img src="https://m.media-amazon.com/images/I/41qs24vpygL.jpg" alt="">
                         <p>
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta enim veniam provident reiciendis corrupti tempora obcaecati alias. Error quod nam, commodi sequi sint excepturi sit dolorem illum quasi nemo qui?
                             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed maiores quia illum? Hic esse repellendus, magnam harum reprehenderit recusandae ipsam. Quisquam est cumque eligendi vitae earum a explicabo voluptatem beatae.
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deleniti dolor autem porro dicta quaerat exercitationem voluptate saepe similique, omnis quidem perspiciatis quisquam illo assumenda fuga cum ipsum sed laudantium!
                             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum dicta! Perspiciatis alias nobis quos iure optio illum magni cumque quibusdam perferendis natus, deserunt ex non possimus ad minus nisi.
                         </p>
                    </article>
                </li>
            </ul>
        </main>
        <aside class="container-sidebar">
            <h4 class="categorias">CATEGORIAS</h4>
            <ul class="lista-categorias">
                <li>Terror (3)</li>
                <li>Ciências (1)</li>
                <li>Ficcao Cientifica (10)</li>
                <li>Programação (2)</li>
                <li>Culinária (0)</li>
            </ul>
        </aside>
    </div>
</body>
</html>